<template>
  <div class="home flex col" :style="{ backgroundImage }">
    <div class="content flex col">
      <img class="logo" src="@/assets/logo.svg" />
      <h1 class="title">BikeSpace</h1>
      <router-link to="survey" tag="div" class="button">
        Report a parking issue
      </router-link>
    </div>
  </div>
</template>

<script>
import backgroundImage from "@/assets/home-background.jpg";

export default {
  data: () => ({ backgroundImage: `url('${backgroundImage}')` }),
};
</script>

<style lang="scss" scoped>
@import "@/styles/colors.scss";

// prettier-ignore
.home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.content {
  align-items: center;

  // prettier-ignore
  .logo { width: 200px; }

  .title {
    color: white;
    font-size: 40pt;
    text-shadow: 1px 1px 10px black;
  }

  .button {
    margin-top: 60px;
    padding: 15px 30px;
    border-radius: 50px;

    background-color: $green;
    color: white;
    font-size: 15pt;
    font-weight: 600;
    box-shadow: 1px 1px 10px black;
    cursor: pointer;
  }
}
</style>
