<template>
  <div class="progress flex">
    <template v-for="step in steps">
      <div class="gap" v-if="step > 1" :key="ohash({ step, gap: true })" />
      <div class="dot-placeholder flex" :key="ohash({ step })">
        <div class="dot" :class="{ active: step == current }" />
      </div>
    </template>
    <div class="line" />
  </div>
</template>

<script>
import ohash from "object-hash";

const geqOne = n => n >= 1;

export default {
  props: {
    steps: { type: Number, default: 2, validator: geqOne },
    current: { type: Number, default: 1, validator: geqOne },
  },
  methods: {
    ohash, // used for generating unique keys from objects
  },
};
</script>

<style lang="scss" scoped>
$dot-radius: 9px;
$dot-color: grey;
$active-dot-color: black;

$line-color: darkgrey;
$line-height: 5px;

.progress {
  position: relative;
  align-items: center;
}

.line {
  position: absolute;
  width: 100%;
  height: $line-height;
  z-index: 1;
  background-color: $line-color;
}

// prettier-ignore
.gap { flex: 1; }

.dot-placeholder {
  $radius: $dot-radius;

  position: relative;
  width: $radius * 2;
  height: $radius * 2;
  align-items: stretch;
  justify-content: stretch;

  .dot {
    position: absolute;
    width: $radius * 2;
    height: $radius * 2;
    border-radius: $radius;
    z-index: 2;
    background-color: grey;
    transition: background 250ms ease-in-out;

    // prettier-ignore
    &.active { background-color: $active-dot-color; }
  }
}
</style>
