<template>
  <div class="issue">
    <h1>What was the issue?</h1>
    <h2>Choose at least one</h2>
    <ul>
      <li>
        Bike parking is
        <strong>not provided</strong>
      </li>
      <li>
        Bike parking is
        <strong>full</strong>
      </li>
      <li>
        Bike parking is
        <strong>damaged</strong>
      </li>
      <li>
        A bike is
        <strong>abandoned</strong>
      </li>
      <li>Something else</li>
    </ul>
  </div>
</template>

<style lang="scss" scoped></style>
